<!-- START javascript -->
<script>
// Define some variables to create the canvas and the image object
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');
  var imageObj = new Image();

  imageObj.src = '/static/img/floorplan-test.png';
  context.drawImage(imageObj, 100, 0);

  // Draw another circle
  context.fillStyle = "{{ color }}";
  context.beginPath();
  context.arc(1100, 150, 10, 0, Math.PI*2, true);
  context.closePath();
  context.fill();

</script>
<!-- END javascript -->
</div>
